<div id="contactBubble" class="rounded_panel txt_lightgrey">
        <div class="top-rounded-panel grey-bg">
		<br>
		<img style="align:center;" src="{{site.url}}/assets/portrait.png" width="50%" height="50%">
                <h1 id="user-contact">Contact Me</h1>
        </div>
        <div class="content-rounded-panel">
                <div id="contactBlurb">
                {{site.email}}<br>
		<img src="{{site.url}}/assets/pin.png" width="15px" min-width="15px" height="15px" min-height="15px">Chicago, IL
                </div>
        </div>
</div>


