<div id="introBubble" style="font-size:1vw;" class="rounded_panel txt_lightgrey">
        <div class="top-rounded-panel grey-bg">
                <h1 id="user-intro">Additional Information</h1>
        </div>
        <div class="content-rounded-panel">
                <div id="introBlurb">

-building superheterodyne AM radio from scratch
<br>-flashlight driven arduino vehicle w/photoresistors
<br>-IRIS robot electrical team
<br>-2 years in high-end network/telecomm lab designing and configuring secure enterprise networks; used CISCO routers, switches and ASA's
<br>-experience w/CTF and topic-based security challenges (overthewire, root-me, vulnhub)
<br>-freelance experience securing websites on upwork.com
<br>-Experience removing malware from personal computers
                </div>
                <br>
        </div>
</div>



