<div id="introBubble" style="font-size:1vw;" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
I am a senior at DePauI University finishing my degree in cybersecurity. Having previously studied electrical and computer engineering at UIUC, I have a broad set of skills pertaining to both hardware and software.
<br><br>
Below you'll find some of my latest side projects. If you'd like to learn how I can make your company's information more secure, please reach out to me via email.
		</div>
	</div>
</div>
